<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">

  <title>TestShop</title>
</head>

<body>
  <div id="app">
    <header>
      <div class="header center">
        <div class="logo">TestShop</div>
        <div class="left__side">
          <div class="search__box">


            <form action="#" class="search-form" @submit.prevent="filter">
              <input class="search__input" type="text" v-model="userSearch">
              <button class="search__text" type="submit">Найти</button>
            </form>

          </div>
          <button class="basket-button" type="button" @click="showCart = !showCart">Корзина</button>
          <div class="basket-block" v-show="showCart">
            <p v-if="!cartItems.length">Корзина пуста</p>

            <div class="cart-item" v-for="item of cartItems" :key="item.id_product">
              <div class="cart-content">
                <img :src="imgCart" :alt="item.product_name">
                <div class=" cart-desc">
                  <p class="cart-title">{{item.product_name}}</p>
                  <p class="cart-quantity">Quantity: {{item.quantity}}</p>
                  <p class="cart-single-price">{{item.price}}</p>
                </div>
              </div>
              <div class="right-block">
                <p class="cart-price">{{item.price * item.quantity}} </p>
                <button class="del-btn" @click="remove(item)">&times;</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="products center">
        <p v-if="!products.length">Нет товаров</p>
        <div class="goods-item" v-for="product of filtered" :key="product.id_product">
          <img :src="imgCatalog" :alt="product.product_name">
          <div class="goods-item__content">
            <h3 class="goods-title">Название товара: {{product.product_name}}</h3>
            <span>ID товара: {{product.id_product}}</span>
            <p class="goods-text">{{product.price}}</p>
            <button class="btn buy-btn" @click="addProduct(product)">Купить</button>
          </div>
        </div>
      </div>
    </main>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>

</body>

</html>